<div class="redmine-issue redmine-issue--tracker-{{issue.tracker.id}} redmine-issue--status-{{issue.status.id}} redmine-issue--priority-{{issue.priority.id}}">
    <h2><a href="{{options.base_url}}issues/{{issue.id}}">Task #{{issue.id}}</a></h2>

    <div class="redmine-issue__subject">
        <div><h3>{{issue.subject}}</h3></div>
    </div>

    <p class="redmine-issue__author">
        Added by <a class="redmine-issue__link--user" href="{{options.base_url}}users/{{issue.author.id}}">{{issue.author.name}}</a>
            on {{issue.rendered.created_on}}.
        Updated on {{issue.rendered.updated_on}}.
    </p>

    <table class="redmine-issue__attributes">
        <tr class"redmine-issue__row">
            <th class="redmine-issue__label redmine-issue__label--status">Status:</th>
            <td class="redmine-issue__value redmine-issue__value--status">{{issue.status.name}}</td>
            <th class="redmine-issue__label redmine-issue__label--start-date">Start date:</th>
            <td class="redmine-issue__value redmine-issue__value--start-date">{{issue.start_date}}</td>
        </tr>
        <tr>
            <th class="redmine-issue__label redmine-issue__label--priority">Priority:</th>
            <td class="redmine-issue__value redmine-issue__value--priority">{{issue.priority.name}}</td>
            <th class="redmine-issue__label redmine-issue__label--due-date">Due date:</th>
            <td class="redmine-issue__value redmine-issue__value--due-date">{{issue.due_date}}</td>
        </tr>
        <tr>
            <th class="redmine-issue__label redmine-issue__label--assigned-to">Assignee:</th>
            <td class="redmine-issue__value redmine-issue__value--assigned-to">
                <a class="redmine-issue__link--user" href="{{options.base_url}}users/{{issue.assigned_to.id}}">{{issue.assigned_to.name}}</a></td>
            <th class="redmine-issue__label redmine-issue__label--done-ratio">% Done:</th>
            <td class="redmine-issue__value redmine-issue__value--done-ratio">
                <progress class="redmine-issue__progress redmine-issue__progress--{{issue.done_ratio}}" value="{{issue.done_ratio}}" max="100"></progress>
                <p class="redmine-issue__value redmine-issue__value--percent">{{issue.done_ratio}}%</p>
            </td>
        </tr>
        <tr>
            <th class="redmine-issue__label redmine-issue__label--category">Category:</th>
            <td class="redmine-issue__value redmine-issue__value--category">{{issue.category.name}}</td>
            <th class="redmine-issue__label redmine-issue__label--spent-time">Spent time:</th>
            <td class="redmine-issue__value redmine-issue__value--spent-time">
                <a href="{{options.base_url}}issues/107419/time_entries">{{issue.spent_hours}} hour</a>
            </td>
        </tr>
        <tr>
            <th class="redmine-issue__label redmine-issue__label--fixed-version">Target version:</th>
            <td class="redmine-issue__value redmine-issue__value--fixed-version">
                <a href="{{options.base_url}}versions/{{issue.fixed_version.id}}">{{issue.fixed_version.name}}</a>
            </td>
            <th></th>
            <td></td>
        </tr>
    </table>

    <hr />

    <div class="redmine-issue__description">
        <p><strong>Description</strong></p>
        <div class="wiki">
            {{{issue.rendered.description}}}
        </div>
    </div>

</div>